/*===========================================================
	GLOBAL
===========================================================*/
body {
	padding: 20px 0;
	font: normal 13px/150% 'Open Sans'; 
	color: #333; 
	line-height: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../css/fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../css/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../css/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../css/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../css/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../css/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.container form input[type="text"], 
.container form textarea {vertical-align: middle; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; border-radius: 0;}

a {outline: none; text-decoration: none;}

.container {border: 1px solid #ccc;}

.audio {height: 50px; text-align: center;}
audio {width: 100%; height: 40px;  display: block; margin-bottom: 20px;}

.listWrap {border: 1px solid #ccc; border-top: none;} 

article {width: 100%; display: table;}
article .itemInfo {width: 100%; display: table; border-top: 1px solid #ccc; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
article .itemInfo > div {min-height: 40px;}

article .itemCaption {display: table; border-right: 1px solid #ccc;}
article .itemContent {width: 100%; padding: 10px;}
article .itemContent .dl-horizontal dt {width: 165px;}
article .itemContent .dl-horizontal dd {margin-left: 185px;}

.evlBtn {text-align: center;}

.playIcon {padding: 0; border-right: 1px solid #ccc;}
.playIcon .voicePlay, .playIcon > i {width: 100%; height: 40px; display: block; font-size: 20px; text-align: center;}
.playIcon > i:before {width: 100%; position: absolute; top: 10px; left: 0; content: "\f04c";}
.playIcon > i.voicePlay:before {width: 100%; position: absolute; top: 10px; left: 0; content: "\f04b";}

.pagination li > span:first-child,
.pagination li > span:last-child {border-radius: 0;}
.pagination li span {display: block; cursor: pointer; border-radius: 0;}
.pagination li.active {background: #ccc;}

form[name="callFrm"] .form-group > label {padding-right: 15px;}
form[name="callFrm"] select option:first-child {display: none;}
form[name="callFrm"] .btn-primary {float: left; margin: 0 15px 15px 0;}

.container aside {float: right; margin: 15px 15px 0 0; border: 1px solid #ccc;}
aside h2 {font-size: 20px;margin-top: 5px;}
aside form {width: 100%; display: table;}
aside form input[type="text"] {margin: 0 0 15px;}
aside form .rowHolder {position: relative;}
aside form ul {width: 100%; position: absolute; top: 35px; left: 0; z-index: 99; padding: 0; background: #fff; border: 1px solid #ccc; list-style: none;}
aside form ul li {padding: 0 5px 5px; text-align: left;}