<div class="row">
	<div class="col-lg-8 col-md-12">
		<div class="audio">
			<div audios code="list[0].callMedias.audioFile"></div>
		</div>
		
		<section class="listWrap">
			<article data-ng-repeat="item in list | orderOneItem: 'callId' | limitTo: howMany">
				<div class="itemInfo">
					<div class="playIcon col-lg-3 col-md-12">
						<i class="fa fa-play" audio-source="{{ item.callMedias.audioFile }}" voice="{{ item.callId }}"></i>
					</div>

					<div class="itemCaption col-lg-6 col-md-12">
						<h4>Call ID#{{ item.callId }} - Duration: {{ item.hours + ':' + item.minutes + ':' + item.seconds }}</h4>
					</div>

					<div class="evlBtn col-lg-3 col-md-12">
						<h4><a href="#/call/{{ item.callId }}">Evaluate</a></h4>
					</div>
				</div>

				<div class="itemContent">
					<dl class="dl-horizontal">
						<dt>Type:</dt>
						<dd>{{ item.callType }}</dd>

						<dt>Direction:</dt>
						<dd>{{ item.callDirection }}</dd>

						<dt>Agent:</dt>
						<dd>
							<span>{{ item.agent.agendID }}</span><br />
							<span>{{ item.client.clientName }}</span>
						<dd>

						<dt>Client: </dt>
						<dd>
							<span>{{ item.client.clientID }}</span><br />
							<span>{{ item.client.clientName }}</span>
						</dd>

						<dt>Customer Score:</dt> 
						<dd>{{ item.evaluation.customerScore }}</dd>

						<dt>Manager Score:</dt> 
						<dd>{{ item.evaluation.managerScore }}</dd>

						<dt>Total Score:</dt> 
						<dd>{{ item.evaluation.totalScore }}</dd>

						<dt>Improvement:</dt> 
						<dd>{{ item.evaluation.improvement }}</dd>

						<dt>Resume:</dt> 
						<dd>{{ item.evaluation.resume }}</dd>

						<dt>Date:<dt>
						<dd ng-init="year=item.year; month=item.month; day=item.day">{{ date | moment:'from':[year, month, day] }}</dd>

						<dt>Duration</dt>
						<dd>{{ item.hours + ':' + item.minutes + ':' + item.seconds }}</dd>
					</dl>
				</div>
			</article>
		</section>

		<pagination size="{{ pagCount }}"></pagination>
	</div>

	<aside class="col-lg-3 col-md-12">
		<h2>Search items</h2>
		<form form="searchCall" search-form >
			<div class="rowHolder">
				<input 
					type="text"
					class="form-control"
					placeholder="Search Agent" 
					name="serch_text"
					ng-model="search.agent"
					number-agent="onKeydown"
				/>
			</div>

			<div class="rowHolder">
				<input 
					type="text"
					class="form-control"
					number-score="^[0-9-]*$" 
					placeholder="Score 1 of 10" 
					name="score_number"
					ng-model="search.score"
				/>
			</div>

			<div class="rowHolder">
				<input 
					type="text"
					class="form-control"
					number-duration="^[0-9-]*$" 
					placeholder="Duration in minutes" 
					name="duration_number"
					ng-model="search.duration"
				/>
			</div>

			<div class="rowHolder">
				<input 
					type="text"
					class="form-control"
					number-days="^[0-9-]*$" 
					placeholder="Call age in days" 
					name="days_number"
					ng-model="search.days"
				/>
			</div>
		</form>
	</aside>
</div>