<article data-ng-repeat="item in pgnItms | orderOneItem: 'callId' | limitTo: howMany">
	<div class="itemInfo">
		<div class="playIcon col-lg-3">
			<i class="fa fa-play" audio-source="{{ item.callMedias.audioFile }}" voice="{{ item.callId }}"></i>
		</div>

		<div class="itemCaption col-lg-6" ng-init="year=item.year; month=item.month; day=item.day">
			<h4>Call ID#{{ item.callId }} - Duration: {{ item.hours + ':' + item.minutes + ':' + item.seconds }}</h4>
		</div>

		<div class="evlBtn col-lg-3">
			<h4><a href="#/call/{{ item.callId }}">Evaluate</a></h4>
		</div>
	</div>

	<div class="itemContent">
		<dl class="dl-horizontal">
			<dt>Type:</dt>
			<dd>{{ item.callType }}</dd>

			<dt>Direction:</dt>
			<dd>{{ item.callDirection }}</dd>

			<dt>Agent:</dt>
			<dd>
				<span>{{ item.agent.agendID }}</span><br />
				<span>{{ item.client.clientName }}</span>
			<dd>

			<dt>Client: </dt>
			<dd>
				<span>{{ item.client.clientID }}</span><br />
				<span>{{ item.client.clientName }}</span>
			</dd>

			<dt>Customer Score:</dt> 
			<dd>{{ item.evaluation.customerScore }}</dd>

			<dt>Manager Score:</dt> 
			<dd>{{ item.evaluation.managerScore }}</dd>

			<dt>Total Score:</dt> 
			<dd>{{ item.evaluation.totalScore }}</dd>

			<dt>Improvement:</dt> 
			<dd>{{ item.evaluation.improvement }}</dd>

			<dt>Resume:</dt> 
			<dd>{{ item.evaluation.resume }}</dd>

			<dt>Date:<dt>
			<dd>{{ date | moment:'from':[year, month, day] }}</dd>

			<dt>Duration</dt>
			<dd>{{ item.hours + ':' + item.minutes + ':' + item.seconds }}</dd>
		</dl>
	</div>
</article>